---
// src/pages/index.astro
// Das ist die Startseite der Website.
// Alles in src/pages wird in Astro automatisch zu einer Route.
// Diese Datei entspricht also der URL: /

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';

---

<html lang="de">
  <head>
    <BaseHead
      title="Stadt Kollektiv"
      description="Ein Framework-Tool für urbane Kollektive."
    />
  </head>

  <body>
    <Header />

    <main>
      <Hero />
    </main>

    <Footer />
  </body>
</html>